@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    background-color: #E7E7E7;
    font-family: Comfortaa, sans-serif;
    color: #505050;
    height: 1600px;
    /* user-select: none; */
}
a {
    position: absolute;
    color: #505050;
    font-weight: 300px;
    font-size: 17px;
}
img {
    pointer-events: none; 
}

/* classes */
.title {
    position: absolute;
    font-size: 70px;
    font-weight: bold;
    color: #FFA877;
}
.under_title {
    position: absolute;
    font-size: 45px;
    font-weight: bold;
}
.description {
    position: absolute;
    font-size: 25px;
    font-weight: 500px;
}
.boxes {
    position: absolute;
}
.img {
    position: absolute;
    border-radius: 10px;
    box-shadow: 3px 3px 4px 0 #000000;
}
.color_span {
    color: #FFA877;
}

/* id */
#box_navigation1 {
    top: 0;
    height: 86px;
    width: 100%;
    background-color: #FFA877;
    opacity: 50%;
}
#box_navigation2 {
    height: 73px;
    width: 100%;
    background-color: #737373;
    opacity: 80%;
}
#aboutme_box1 {
    background-color: #FFA877;
    width: 740px;
    height: 320px;
    opacity: 50%;
    top: 657px;
    left: 188px;
    box-shadow: 2px 2px 15px 0 #000000;
}
#aboutme_box2 {
    background-color: #737373;
    width: 720px;
    height: 300px;
    opacity: 50%;
    top: 667px;
    left: 198px;
}
#avatar_aboutme {
    width: 280px;
    top: 592px;
    left: 558px;
}
#link_tg {
    position: static;
    font-size: 25px;
}
#translate_page {
    top: 638px;
    left: 198px;
}
#username {
    position: absolute;
    font-size: 40px;
    color: #E7E7E7;
    top: 14px;
    left: 188px;
}
#title_head {
    top: 134px;
    left: 188px;
}
#under_title_head {
    top: 212px;
    left: 188px;
}
#description_head {
    top: 349px;
    left: 188px;
}
#title_aboutme {
    top: 592px;
    left: 960px;
}
#description_aboutme {
    top: 711px;
    left: 960px;
}
#title_stack {
    top: 1178px;
    left: 660px;
}
#under_title_stack1 {
    text-align: center;
    top: 1315px;
    left: 431px;
}
#under_title_stack2 {
    text-align: center;
    top: 1315px;
    left: 1082px;
}
#description_stack1 {
    text-align: center;
    top: 1370px;
    left: 374px;
}
#description_stack2 {
    text-align: center;
    top: 1370px;
    left: 987px;
}

/* ENG VERSION */
#translate_page_eng {
    top: 638px;
    left: 198px;
}
#title_head_eng {
    top: 134px;
    left: 188px;
}
#under_title_head_eng {
    top: 212px;
    left: 188px;
}
#description_head_eng {
    top: 349px;
    left: 188px;
}
#title_aboutme_eng {
    top: 592px;
    left: 960px;
}
#description_aboutme_eng {
    top: 711px;
    left: 960px;
}
#translate_page_eng {
    top: 638px;
    left: 198px;
}
#title_stack_eng {
    top: 1156px;
    left: 712px;
}
#under_title_stack1_eng {
    text-align: center;
    top: 1314px;
    left: 421px;
}
#under_title_stack2_eng {
    text-align: center;
    top: 1314px;
    left: 1063px;
}
#description_stack1_eng {
    text-align: center;
    top: 1370px;
    left: 396px;
}
#description_stack2_eng {
    text-align: center;
    top: 1370px;
    left: 1005px;
}